<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Settings Bundle Practice</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Copyright © 2014 KentarOu 
All Rights Reserved.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>DefaultValue</key>
			<string>1.0.0</string>
			<key>Title</key>
			<string>Version</string>
			<key>Key</key>
			<string>sbVersion</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Title</key>
			<string>Build</string>
			<key>Key</key>
			<string>sbBuild</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>タイトル</string>
			<key>DefaultValue</key>
			<string>Default Value</string>
			<key>Key</key>
			<string>titleID001</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>License Sample</string>
			<key>File</key>
			<string>License</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Slider group</string>
			<key>FooterText</key>
			<string>------- Slider Footer Text --------</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>sliderID001</string>
			<key>DefaultValue</key>
			<integer>50</integer>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MaximumValue</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>sliderID002</string>
			<key>DefaultValue</key>
			<integer>80</integer>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MaximumValue</key>
			<integer>100</integer>
			<key>MinimumValueImage</key>
			<string>image1.jpg</string>
			<key>MaximumValueImage</key>
			<string>image2.jpg</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Text Field group</string>
			<key>FooterText</key>
			<string>------- TextField Footer Text --------</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Text Field</string>
			<key>Key</key>
			<string>textfieldID001</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Text Field Secure</string>
			<key>Key</key>
			<string>textfieldID002</string>
			<key>IsSecure</key>
			<true/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Switch group</string>
			<key>FooterText</key>
			<string>------- Switch Footer Text --------</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Switch 001</string>
			<key>Key</key>
			<string>switchID001</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Switch 002</string>
			<key>Key</key>
			<string>switchID002</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>title group</string>
			<key>FooterText</key>
			<string>--------Title Footer Text --------</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>DefaultValue</key>
			<string>Title Default Value</string>
			<key>Title</key>
			<string>Title</string>
			<key>Key</key>
			<string>titleID001</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Multi value group</string>
			<key>FooterText</key>
			<string>--------Multi Value Footer Text --------</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Select Number</string>
			<key>Key</key>
			<string>multiID0001</string>
			<key>Titles</key>
			<array>
				<string>Select 001</string>
				<string>Select 002</string>
				<string>Select 003</string>
				<string>Select 004</string>
				<string>Select 005</string>
			</array>
			<key>Values</key>
			<array>
				<string>Select 001</string>
				<string>Select 002</string>
				<string>Select 003</string>
				<string>Select 004</string>
				<string>Select 005</string>
			</array>
			<key>DefaultValue</key>
			<string>Select 001</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
